extend ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 商品
						th 价格
						th 介绍
						th 原材料
						th pv
						th 录入时间
						th 查看
						th 更新
						th 删除
				tbody
					each item in cakes
						tr(class=`item-id-${item._id}`)
							td #{item.name}
							td ￥#{item.price}元
							td #{item.intro}
							td #{item.material}
							td #{item.pv}
							td #{moment(item.meta.updateAt).format('MM/DD/YYY')}
							td: a(target="_blank", href=`/cake/${item._id}`) 查看
							td: a(target="_blank", href=`/admin/cake/update/${item._id}`) 修改
							td
								button.btn.btn-danger.del(type="button", data-id=`${item._id}`) 删除
	script(src='/build/admin.min.js')

						